<table id="tableauAdmin" class="table-sm table-striped table-hover " width="100%" cellspacing="0">
	<thead>
		<tr style="text-align:center">
			<th>Début de l'absence</th>
			<th>Fin de l'absence</th>
			<th>Justificatif</th>
			<th>Etat actuel de la justification</th>
		</tr>
	</thead>
	<tbody>
		{% for elementListePointage in listeDePointage %}
			<tr style="text-align:center">
                <td>
					<span class="badge badge-pills bg-primary text-light">{{ elementListePointage.dateDebut }}</span>
					<span class="badge badge-pills bg-primary text-light">{{ elementListePointage.heureDebut|date('H:i') }}</span>
				</td>
                <td>
					<span class="badge badge-pills bg-primary text-light">{{ elementListePointage.dateFin }}</span>
					<span class="badge badge-pills bg-primary text-light">{{ elementListePointage.heureFin|date('H:i') }}</span>
				</td>
                <td><a target="_blank" href="{{ asset('uploads/justifications/' ~ elementListePointage.lienFichier) }}">
                    <img style="margin: 0 45%" width="30" height="30" src="/~david.devoye/chronos_gr2_2019-2020/public/uploads/logo_download.png"></a>
                </td>
                <td>
                {% if elementListePointage.valider == "0" %} <span class="badge badge-pills bg-warning text-light">En attente de validation</span> {% endif %}
                {% if elementListePointage.valider == "1" %} <span class="badge badge-pills bg-danger text-light">Justification refusée</span> {% endif %}
                {% if elementListePointage.valider == "2" %} <span class="badge badge-pills bg-success text-light">Justification validée</span> {% endif %}
                </td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<br />
<div class="row">
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4">
		<a href="{{ path('panelEtudiant') }}" class="btn btn-block btn-info text-uppercase" >Retourner à la page d'accueil</a>
	</div>
	<div class="col-lg-4">
	</div>
</div>
<br />
<style>
/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
</style>