{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/loginRegister.css') }}>
<link rel="stylesheet" href={{ asset('css/recapPointage.css') }}>
<link rel="stylesheet" href={{ asset('css/admin.css') }}>
<link rel="stylesheet" type="text/css" href="/vendor/Bootstrap/bootstrap.min.css">
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row no-gutter login">
    <div class="flex-container d-none d-md-flex col-md-2 col-lg-1 bg-color">
      <div class="clock-column">
        <div class="num">0</div>
        <div class="num">1</div>
        <div class="num">2</div>
      </div>
      <div class="clock-column">
        <div class="num">0</div>
        <div class="num">1</div>
        <div class="num">2</div>
        <div class="num">3</div>
        <div class="num">4</div>
        <div class="num">5</div>
        <div class="num">6</div>
        <div class="num">7</div>
        <div class="num">8</div>
        <div class="num">9</div>
      </div>
      <div class="colon"></div>
      <div class="clock-column">
        <div class="num">0</div>
        <div class="num">1</div>
        <div class="num">2</div>
        <div class="num">3</div>
        <div class="num">4</div>
        <div class="num">5</div>
      </div>
      <div class="clock-column">
        <div class="num">0</div>
        <div class="num">1</div>
        <div class="num">2</div>
        <div class="num">3</div>
        <div class="num">4</div>
        <div class="num">5</div>
        <div class="num">6</div>
        <div class="num">7</div>
        <div class="num">8</div>
        <div class="num">9</div>
      </div>
      <div class="colon"></div>
      <div class="clock-column">
        <div class="num">0</div>
        <div class="num">1</div>
        <div class="num">2</div>
        <div class="num">3</div>
        <div class="num">4</div>
        <div class="num">5</div>
      </div>
      <div class="clock-column">
        <div class="num">0</div>
        <div class="num">1</div>
        <div class="num">2</div>
        <div class="num">3</div>
        <div class="num">4</div>
        <div class="num">5</div>
        <div class="num">6</div>
        <div class="num">7</div>
        <div class="num">8</div>
        <div class="num">9</div>
      </div>
    </div>
    <!-- END CLOCK -->
    <!-- START MAIN CONTENT -->
    <div class="col-md-10 col-lg-11">
      <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <span class="navbar-brand">C<i class="far fa-hourglass"></i>RONOS</span>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-lg-inline text-gray-600 small">{{ prenom }} {{ nom | upper }}</span>
              </a>
              <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in mt-2" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{{ path('pointageViewerTeacher') }}">
                <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                Accueil
              </a>
              <a class="dropdown-item  text-primary disabled" href="{{ path('panelEtudiant') }}">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Emargement en fonction du cours
              </a>
              <a class="dropdown-item" href="{{ path('profListeCours') }}">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Liste des cours
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#0" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Déconnexion
              </a>
            </div>
            </li>
          </ul>
        </nav>
        <center> Cours et horaires sélectionnés<br />
          <h4>
        {% set break = false %}
        {% for elementListePointage in listeDePointage if not break %}
            <span class="badge badge-pills bg-info text-light" style="color: blue; font-weight:bold;">{{ elementListePointage.nomUe }}</span>
          {% set break = true %}
        {% endfor %}

        {% set break = false %}
        {% for elementListePointage in listeDePointage if not break %}
          à <span class="badge badge-pills bg-info text-light" style="color: green">{{ elementListePointage.plageHoraire }}</span>
          {% set break = true %}
        {% endfor %}

        {% set break = false %}
        {% for elementListePointage in listeDePointage if not break %}
          le <span class="badge badge-pills bg-info text-light"  style="color: red">{{ elementListePointage.dateCours }}</span>
          {% set break = true %}
        {% endfor %}
        </h4>
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <h3><span class="badge badge-pills bg-success text-light" style="color: blue; font-weight:bold;">Liste des pointages des étudiants</span></h3>
            <table id="tableauProf" class="table-sm table-striped table-hover" width="100%" cellspacing="0"  style="font-size:14px !important">
              <thead>
                <tr style="text-align:center">
                  <th>Formation</th>
                  <th>Pointage à l'arrivée</th>
                  <th>Pointage à la sortie</th>
                  <th>Etudiant</th>
                  <th>Etat émargement</th>
                  <th>Etat du pointage</th>
                  <th>Etat</th>
                </tr>
              </thead>
              <tbody>
                {% for elementListePointage in listeDePointage %}
                  <tr>
                      <td>{{ elementListePointage.nomFormation }}</td>
                      <td>{{ elementListePointage.datePointageEntree|date('H:i') }}</td>
                      <td>{{ elementListePointage.datePointageSortie|date('H:i') }}</td>
                      <td>{{ elementListePointage.prenomUtilisateur }} {{ elementListePointage.nomUtilisateur }}</td>
                      <td>{{ elementListePointage.email }}</td>
                      <td>
                        {% if elementListePointage.absence == "1" %}
                          <span style="color:red;" value="1">Absent</span>
                        {% endif %}
                        {% if elementListePointage.absence == "0" %}
                          <span style="color:green;" value="0">Présent</span>
                        {% endif %}
                      </td>	
                      <td>
                      <div style="display: inline-block">
                        <input type="hidden" value="{{ elementListePointage.id }}" class="abs_id">
                        <input type="hidden" value="{{ elementListePointage.prenomUtilisateur }} {{ elementListePointage.nomUtilisateur }}" class="abs_etudiant">
                        <input type="hidden" value="{{ elementListePointage.email }}" class="abs_mail">
                        {% if elementListePointage.absence == "0" %}
                        <select type="text" class="form-control col-lg-12 absence editPresent">
                            <option style="color:green;" value="0">Présent</option>
                            <option style="color:red;" value="1">Absent</option>
                        </select>
                        {% endif %}
                        {% if elementListePointage.absence == "1" %}
                          <select type="text" class="form-control col-lg-12 absence editPresent">
                            <option style="color:red;" value="1">Absent</option>
                            <option style="color:green;" value="0">Présent</option>
                          </select>
                        {% endif %}
                      </div>
                      <span class="statutJustif">Modification prise en compte!</span>
                      </td>

                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>Formation</th>
                  <th>Pointage à l'arrivée</th>
                  <th>Pointage à la sortie</th>
                  <th>Etudiant</th>
                  <th>Adresse mail</th>
                  <th>Etat du pointage</th>
                  <th>Modifier le statut du pointage</th>
                </tr>
              </tfoot>
            </table>
          </div> 
          <div class="container-fluid" style="width:45%; float:left">
            <h3><span class="badge badge-pills bg-danger text-light" style="color: blue; font-weight:bold;">Liste des étudiants qui n'ont pas pointé</span></h3>
            <table id="hhh" class="table-sm table-striped table-hover" width="100%" cellspacing="0"  style="font-size:14px !important">
              <thead>
                <tr style="text-align:center">
                  <th>Etudiant</th>
                  <th>N° d'étudiant</th>
                </tr>
              </thead>
              <tbody>
                {% for elementListePointage in pasdePointage %}
                  <tr style="text-align:center">
                      <td>{{ elementListePointage.prenom_utilisateur }} {{ elementListePointage.nom_utilisateur }}</td>
                      <td>{{ elementListePointage.numero_etudiant }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div> 

          <div class="container-fluid" style="width:45%; float:right">
            <h3><span class="badge badge-pills bg-info text-light" style="color: blue; font-weight:bold;">Liste des étudiants inscrits</span></h3>
            <table id="hhh" class="table-sm table-striped table-hover" width="100%" cellspacing="0"  style="font-size:14px !important">
              <thead>
                <tr style="text-align:center">
                  <th>Etudiant</th>
                  <th>N° d'étudiant</th>
                </tr>
              </thead>
              <tbody>
                {% for elementListePointage in tousLesInscrits %}
                  <tr style="text-align:center">
                      <td>{{ elementListePointage.prenom_utilisateur }} {{ elementListePointage.nom_utilisateur }}</td>
                      <td>{{ elementListePointage.numero_etudiant }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div> 
          <!-- Logout Modal-->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Se déconnecter ?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">Cliquez sur "Déconnexion" ci-dessous si vous êtes prêt à terminer votre session en cours.</div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                  <a class="btn btn-danger" href="{{ path('logout') }}">Déconnexion</a>
                </div>
              </div>
            </div>
          </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/clockPointage.js') }}"></script>
    <script src="/vendor/Bootstrap/bootstrap.bundle.min.js"></script>

<script>
$(".statutJustif").hide();
// l ajax n est pas rangé dans un fichier JS dû à l'appel des paths, qui ne sont pas interprété dans fichier .js, seulement dans un .twig (voir doc officiel de Symfony)
$(".editPresent").change(function(e){
  e.preventDefault();
  e.stopImmediatePropagation();
  $.ajax({
    method: "POST",
    url: "{{ path('profUpdateState') }}",
    data: { id: $(this).closest('tr').find('.abs_id').val(),
        absence: $(this).closest('tr').find('.absence').val()
        }
    })
    .done(function( msg ) {
      //alert( "Data Saved: " + msg );
    })
    .fail(function( msg ) {
      //alert( "Data Saved: " + msg );
    });
  $.ajax({
    method: "POST",
    url: "{{ path('profAbsenceSendMail') }}",
    data: { id: $(this).closest('tr').find('.abs_id').val(),
        etudiant: $(this).closest('tr').find('.abs_etudiant').val(),
        email: $(this).closest('tr').find('.abs_mail').val(),
        absence: $(this).closest('tr').find('.absence').val()
        }
    })
    .done(function( msg ) {
      //alert( "Data Saved: " + msg );
    })
    .fail(function( msg ) {
      //alert( "Data Saved: " + msg );
    });
    $(this).closest('tr').find(".statutJustif").show();
  }
);
</script>
    <script src="{{ asset('js/initProfEmargementsPasses.js') }}"></script>
    <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
{% endblock %}
