{% extends 'base.html.twig' %}

{% block title %}CHRONOS ADMIN - Dashboard{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/admin.css') }}>
<link rel="stylesheet" href={{ asset('css/sb-admin-2.min.css') }}>
{% endblock %}

{% block body %}
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
      <div class="sidebar-brand-icon">
        <i class="far fa-hourglass"></i>
      </div>
      <div class="sidebar-brand-text mx-1">ADMIN</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Recherche
    </div>

    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseSearchP" aria-expanded="true" aria-controls="collapseSearchP">
        <i class="fas fa-search"></i>
        <span>Pointages</span>
      </a>
      <div id="collapseSearchP" class="collapse show" aria-labelledby="headingSearchP" data-parent="">
        <div class="bg-white py-2 collapse-inner rounded">
          <form class="navbar-search">
            <div class="input-group">
              {{ form_widget(formPointage.semaine) }}
              {{ form_widget(formPointage.annee) }}
              <div class="input-group-append">
                <button type="submit" class="btn btn-light" name="{{ formPointage.submit.vars.full_name }}" id="{{ formPointage.submit.vars.id }}">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseSearchA" aria-expanded="true" aria-controls="collapseSearchA">
        <i class="fas fa-search"></i>
        <span>Anomalies</span>
      </a>
      <div id="collapseSearchA" class="collapse show" aria-labelledby="headingSearchA" data-parent="">
        <div class="bg-white py-2 collapse-inner rounded">
          <form class="navbar-search">
            <div class="input-group">
              <div class="input-group">
                {{ form_widget(formAnomalie.semaine) }}
                {{ form_widget(formAnomalie.annee) }}
                <div class="input-group-append">
                  <button type="submit" class="btn btn-light" name="{{ formAnomalie.submit.vars.full_name }}" id="{{ formAnomalie.submit.vars.id }}">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item border-left-success">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <i class="fas fa-fw fa-cog"></i>
        <span>Pointages</span>
      </a>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="">
        <div class="bg-white py-2 collapse-inner rounded border-left-success">
          <h6 class="collapse-header">Par période:</h6>
          <a class="collapse-item" href="{{ path('panelAdmin') }}">Aujourd'hui</a>
          <a class="collapse-item" href="{{ path('panelAdminSemaine') }}">Cette semaine</a>
          <a class="collapse-item active" href="{{ path('panelAdminMois') }}">Ce mois-ci</a>
          <a class="collapse-item" href="{{ path('panelAdminAnnee') }}">Cette année</a>
        </div>
      </div>
    </li>

    <li class="nav-item border-left-warning">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Anomalies</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="">
        <div class="bg-white py-2 collapse-inner rounded border-left-warning">
          <h6 class="collapse-header">Par période:</h6>
          <a class="collapse-item" href="{{ path('panelAdmin') }}">Du jour <span class="badge badge-secondary float-right">9</span></a>
          <a class="collapse-item" href="{{ path('panelAdminSemaine') }}">De cette semaine <span class="badge badge-success float-right">19</span></a>
          <a class="collapse-item" href="{{ path('panelAdminMois') }}">Ce mois-ci <span class="badge badge-warning float-right">48</span></a>
          <a class="collapse-item" href="{{ path('panelAdminAnnee') }}">Cette année <span class="badge badge-danger float-right">100</span></a>
        </div>
      </div>
    </li>

    <!-- <form class="form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-light" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form> -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Charts -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
    </li> -->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        {% set mois = {'01':'de Janvier', '02':'de Février', '03':'de Mars', '04':'d\'Avril',
                      '05':'de Mai', '06':'de Juin', '07':'de Juillet', '08':'d\'Août',
                      '09':'de Septembre', '10':'d\'Octobre', '11':'de Novembre', '12':'de Décembre'
        } %}
        <h4 class="mb-0 text-gray-800"><a href="">Mois {{ mois[dateDebut|date('m')] }}</a>&nbsp;<i class="fas fa-grip-lines-vertical"></i>&nbsp;Du {{ dateDebut|date('d/m/Y') }} au {{ dateFin|date('d/m/Y') }}</h4>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Administration</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-4 col-md-4 mb-4">
            <div class="card border-bottom-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pointages</div>
                    <div class="h4 mb-0 text-gray-800">{{ pointage }}</div>
                  </div>
                  <div class="col-auto">
                    <a href="#" id="reset"><i class="fas fa-search fa-2x text-gray-300"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-4 col-md-4 mb-4">
            <div class="card border-bottom-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Retards</div>
                    <div class="h4 mb-0 text-gray-800">{{ retard }}</div>
                  </div>
                  <div class="col-auto">
                    <a href="#" id="retards"><i class="fas fa-search fa-2x text-gray-300"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-4 col-md-4 mb-4">
            <div class="card border-bottom-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Départ en avance</div>
                    <div class="h4 mb-0 text-gray-800">{{ avance }}</div>
                  </div>
                  <div class="col-auto">
                    <a href="#" id="sorties"><i class="fas fa-search fa-2x text-gray-300"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <!-- <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>

        <div class="card shadow mb-4">
          <div class="card-body">
              <div class="table-responsive">
                  {% include 'tableauPointage.html.twig' %}
              </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <!-- <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Alexandre LELONG / David DEVOYE</span>
        </div>
      </div>
    </footer> -->
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/initAdmin.js') }}"></script>
    <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
{% endblock %}
